




/* General Styles */
.resumeMainBody {
    margin: 70px auto;
    padding: 20px;
    max-width: 900px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .resumeTitle {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .section {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .sectionLabel label {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 20px;
    display: block;
  }
  
  input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .sectionButtons {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 15px;
  }
  
  button {
    /* background-color: #5a67d8; */
    color: #ff0000;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #d0e2ff;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .resumeMainBody {
      padding: 15px;
    }
  
    .sectionButtons {
      flex-direction: column;
      gap: 10px;
    }
  
    input {
      margin: 5px 0;
    }
  
    button {
      width: 100%;
      padding: 12px;
    }
  }
  